<div class="main-container">
    <video src="assets/video/VT1.mp4" autoplay="true" loop></video>
</div>
<div class="login-form">
    <nb-layout class="transparent">
        <nb-layout-column>
            <form>
                <h2>Inicio de Sesión</h2>
                <label>Nombre de usuario</label>
                <input nbInput type='text'>
                <label>Contraseña</label>
                <input nbInput type='password'>
                <button nbButton status="primary">Ingresar</button>
            </form>
        </nb-layout-column>
    </nb-layout>
</div>